.openmetadata-container {
  width: 100%;
}
@media (min-width: 640px) {
  .openmetadata-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .openmetadata-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .openmetadata-container {
    max-width: 1124px;
  }
}

@media (min-width: 1536px) {
  .openmetadata-container {
    max-width: 1536px;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.data-table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll;
  margin: 2rem 0;
}
.data-table tbody {
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 0;
}
.data-table td,
.data-table th {
  border: 0.1rem solid #cccccc;
  padding: 0.5rem 1rem;
  min-width: 10rem;
}
.data-table th {
  text-align: left;
  background-color: #fff;
  border: 0.1rem solid #222222;
  color: #000;
  font-weight: 400;
  padding: 1rem;
  text-transform: uppercase;
  overflow: hidden;
  vertical-align: top;
  width: 25%;
}
.data-table td {
  /* These are technically the same, but use both */

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */

  word-break: break-all;
  /* Instead use this non-standard one: */

  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.data-table tr td:first-of-type {
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
