@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h3{
  font-size: 1.3rem;
}
h5,
.h5 {
  font-size: 1.1rem;
}

@media (min-width: 1200px){
h2, .h2 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
p{
  margin-bottom: 1rem 
}
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.custom-container {
  @apply max-w-[1440px] mx-auto;
}

.shadow-bg {
  @apply bg-gradient-to-b from-[#F1EDFD] to-white
}

.bg-gradient {
  @apply bg-gradient-to-tr from-[#0B3547] to-[#176B8F]
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px !important;
  }
}
@media (min-width: 1500px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1440px;
  }
}